<section id="event">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-9">
        <div id="event-carousel" class="carousel slide" data-interval="false">
          <h2 class="heading">THE ROCKING Performers</h2>
          <a class="even-control-left" href="#event-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
          <a class="even-control-right" href="#event-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
          <div class="carousel-inner">
            <div class="item active">
              <div class="row">
                <div class="col-sm-4">
                  <div class="single-event">
                    <img class="img-responsive" src="https://cdn1.imggmi.com/uploads/2018/5/30/58c540b0142352b2ab28a45e5fb6cec1-full.jpg" alt="event-image">
                    <h4>Chester Bennington</h4>
                    <h5>Vocal</h5>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="single-event">
                    <img class="img-responsive" src="https://cdn1.imggmi.com/uploads/2018/5/30/3be7f8b1c0f1d16d32c99a16faac7438-full.jpg" alt="event-image">
                    <h4>Mike Shinoda</h4>
                    <h5>vocals, rhythm guitar</h5>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="single-event">
                    <img class="img-responsive" src="https://cdn1.imggmi.com/uploads/2018/5/30/f24c6a9519dbb5535c1418ada873279f-full.jpg" alt="event-image">
                    <h4>Rob Bourdon</h4>
                    <h5>drums</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-sm-4">
                  <div class="single-event">
                    <img class="img-responsive" src="https://cdn1.imggmi.com/uploads/2018/5/30/58c540b0142352b2ab28a45e5fb6cec1-full.jpg" alt="event-image">
                    <h4>Chester Bennington</h4>
                    <h5>Vocal</h5>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="single-event">
                    <img class="img-responsive" src="https://cdn1.imggmi.com/uploads/2018/5/30/3be7f8b1c0f1d16d32c99a16faac7438-full.jpg" alt="event-image">
                    <h4>Mike Shinoda</h4>
                    <h5>vocals, rhythm guitar</h5>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="single-event">
                    <img class="img-responsive" src="https://cdn1.imggmi.com/uploads/2018/5/30/f24c6a9519dbb5535c1418ada873279f-full.jpg" alt="event-image">
                    <h4>Rob Bourdon</h4>
                    <h5>drums</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="guitar">
        <img class="img-responsive" src="https://cdn1.imggmi.com/uploads/2018/5/30/df2910cf9174417dd016fc8e0bbcf56e-full.png" alt="guitar">
      </div>
    </div>			
  </div>
</section>