<section id="about">
    
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-9">
              <div id="event-carousel" class="carousel slide" data-interval="false">
                <h2 class="heading">Your Watch-List</h2>
                <a class="even-control-left" href="#event-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                <a class="even-control-right" href="#event-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
                <div class="carousel-inner">
                  <div class="item active">
                       
                          <div *ngFor="let film of movies$|async" class="col-lg-3 col-md-4 col-sm-6 col-sm-4" id='kont'>
                             <button type="button" class="close" aria-label="Close" (click)="removeMovie(film)">
                                  <span aria-hidden="true">&times;</span>
                                </button> 
                            <app-movie
                              [movie]="film"
                              (clickedEvent)="onClickMovie($event)"
                               >
                               
                              </app-movie>
                              
                          </div>

                       
                      
                      
                      
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
            		
        </div>
      
</section>